@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100vw;
  font-size: 2.3vmin;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #555;
}

a:active{
  color: #555;
}

.container {
  height: 100%;	
}

#header{
  width: 100%;
  height: 10%;
  background: #333;
  display: flex;
}


#header p {  
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
}

.title{
  font-size: 2em;
  font-weight: 300;
  margin-left: 5%; 
}


.subtitle{
  font-size: 1.2em;
  margin-left: 0.5em;
  font-weight: 300;
  position: relative;
  top: 0.2em;
}


#sidebar{
  width: 25%;
  background: #ddd;	
  float: left;
  padding-top: 3em;	
}

#sidebar div{
  font-size: 0.8em;
  margin: 2em 2em 2em 2em;
}

#sidebar .photo{
  background: url('images/photo.jpg');
  background-size: contain;
  border-radius: 50%;
  height: 11em;
  width:  11em;
  margin-left: auto;
  margin-right: auto;
}


.name{
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.bio{
  margin-bottom: 2em;
}

.location{
  font-size: 0.8em;
  font-weight: 300;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


#content{
  background: #fff;
  width: 75%;	
  position: absolute;
  left: 25%;
  padding: 0;
}



.links, .other{
  width: 80%;
  background: #000;
  padding: 0;
  margin: 0 auto 0 auto;
}

#extra_links{
  width:   100%;
  display: table;
}

.link{
  display: table-cell;
  background: #ccc;
  text-align: center;
  border: 1px solid #fff
}

#extra_links .link{
  width: 33.333%;
  height: 8em;
}


#other_links{
  width:   100%;
  display: table;
}

.other{
  margin-top: 1em;
}

.other .link{
  width: 50%;
  background: #eee;
  height: 8em;
}

.main{
  margin: 2em auto 0.5em auto;
  height: 10em;
  width: 80%;
  background: #aaa;
}

#link-main{
  display: block;
  margin: 2em auto 0.5em auto;
  height: 10em;
  width: 80%;
  background: url('images/final_thumb.jpg');
  background-size: contain;
}


#link-main:hover, #link-main:active{
  background: url('images/final_thumb_hover.jpg');
  background-size: contain;
}

#mass{
  background: url('images/abell_bcg.jpg');
  background-size: cover;
  background-position: center;
}

#mass:hover, #mass:active{
  background: url('images/abell_bcg_hover.jpg');
  background-size: cover;
  background-position: center;
}

#r{
  background: url('images/radius.png');
  background-size: cover;
  background-position: center;
}

#r:hover, #r:active{
  background: url('images/radius_hover.png');
  background-size: cover;
  background-position: center;
}

#morph{
  background: url('images/spiral.jpg');
  background-size: cover;
  background-position: center;
}

#morph:hover, #morph:active{
  background: url('images/spiral_hover.jpg');
  background-size: cover;
  background-position: center;
}

#method{
  background: url('images/mcmc.png');
  background-size: cover;
  background-position: center;
}

#method:hover, #method:active{
  background: url('images/mcmc_hover.png');
  background-size: cover;
  background-position: center;
}

#content div{
  width: 80%;
  margin: 2em auto 0 auto
}

#content img{
  width: 100%;
}